# [submodule "software/riscv-isa-tests/riscv-tests"]
# 	path = software/riscv-isa-tests/riscv-tests
# 	url = git@github.com:riscv-software-src/riscv-tests.git
# [submodule "riscv-tests"]
# 	path = riscv-tests
# 	url = git@github.com:riscv-software-src/riscv-tests.git
# [submodule "software/riscv-isa-tests"]
# 	path = software/riscv-isa-tests
# 	url = git@github.com:riscv-software-src/riscv-tests.git
# [submodule "software/riscv-isa-tests-tmp/riscv-tests"]
# 	path = software/riscv-isa-tests-tmp/riscv-tests
# 	url = git@github.com:riscv-software-src/riscv-tests.git
[submodule "software/riscv-isa-tests/riscv-tests"]
	path = software/riscv-isa-tests/riscv-tests
	url = git@github.com:riscv-software-src/riscv-tests.git
